.content {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}

.playerLists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.newOne {
  position: absolute;
  top: 0;
  left: 0;
}
