.content {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 3em auto;
  max-width: 1000px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardsContainer {
  position: relative;
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-evenly;
}

.promp {
  position: absolute;
  top: -0.8em;
  background: #0c5f8a;
  padding: 0.3em 0 0.2em 0;
  font-size: 2em;
  line-height: 1;
  border-radius: 5px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  z-index: 1;
}

.footer {
  position: absolute;
  bottom: 1em;
  max-width: 700px;
  width: 100%;
  z-index: 1;
}

.timeBox {
  font-size: 3rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #0c5f8a;
  position: absolute;
  left: 0.1em;
  top: -0.15em;
  line-height: 1.5;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  border: 3px solid #d7dde0;
}

.messages {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 0.5em 0 2em;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #0c5f8a;
  border-radius: 4px;
  line-height: 1;
  font-size: 1.3em;
  min-height: 2em;
}