.players {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.players.top {
  padding: 2em 0 0 0;
}

.players.bot {
  padding: 0 0 2em 0;
}

.player {
  width: 250px;
  display: flex;
  position: relative;
  margin: 1.5rem 0;
}

.player .nickname {
  font-size: 1.2em;
  padding: 0.7em 0.5em 0.3em 1.7em;
  background-color: #0c5f8a;
  border-radius: 4px;
  margin: 0 2em 0 1.1em;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 3px solid #0c5f8a;
}

.player .points {
  font-size: 2em;
  padding: 0.3em 0.2em 0em 0.2em;
  background-color: #134863;
  line-height: 1.2;
  font-weight: bold;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: -0.3rem;
  width: 2rem;
  text-align: center;
  height: 2.4rem;
  border: 3px solid #134863;
}

.player.me .nickname,
.player.me .points {
  border: 3px solid black;
  font-weight: bold;
  color: #000;
  background-color: #d8a421;
}